<h1>New Link</h1>

<%= form_for @link do |form| %>
  <%= form.label :name, "Name: " %>
  <%= form.text_field :name %>

  <%= form.label :url, "URL: " %>
  <%= form.url_field :url %>

  <%= form.label :description, "Description: " %>
  <%= form.text_area :description %>

  <%= form.submit "Add Link" %>
<% end %>
